:root {
  --fondo: rgb(240, 232, 232);
  --color :  rgb(143, 141, 141);
  --fondocard : var(--fondo);
  --textcolor : black;
  --botoncolor : white;
  --hover : rgb(164, 170, 168);

}
/*UNIFICAR BOTONES YA MISMO RIGHT NOW*/

.rojo-mode{
    --fondo : red;
    --textcolor : rgb(247, 70, 70);
}
.azul-mode{
    --fondo :blue;
    --textcolor :rgb(76, 76, 236);
}
.verde-mode{
    --fondo : green;
    --textcolor : rgb(67, 172, 67);
}
.dark-mode{
    --fondo : #0d1322;
    --color : white;
    --fondocard : #131c31;
    --textcolor : white;
    --botoncolor : #131c31;
    --hover : #1a2338;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{ font-size: 99.5%;}

.botonesAll{
    margin:1rem;
    font-family:monospace;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    background-color: var(--fondocard);
    color: var(--textcolor);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
.botonesAll:hover{
    background-color: var(--hover);
    font-size: 1.1rem;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh; /*tamaño del viwport*/
    background-color: var(--fondo);
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.botones button{
    margin:10px;
    font-family:monospace;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
#rojo{
    background-color: red;
    color: white;
}
#azul{
    background-color:blue;
    color: white;
}
#verde{
    background-color: green;
    color: white;
}
#rojo:hover,
#azul:hover,
#verde:hover{
    background-color: rgb(107, 60, 60);
    font-size: 1.1rem;
}

body main{
 background-color: var(--fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    background-color: var(--fondocard);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 20px;
}
.imagenYtexto{
    background-color: var(--fondocard);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px;
}
.imagenYtexto img {
    border-radius: 100%;
    margin: 0.5rem;
}
.texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    font-size: 1.5rem;
}
.texto h3{
    color: var(--textcolor);
}
.texto h4{
    color: rgb(143, 141, 141);
    margin:0.5rem;
}

.seccion{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0.5rem;
}
.seccion div{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.seccion div h3{
    color: var(--textcolor)
}
.seccion div h4{
    color: rgb(143, 141, 141);
    margin: 0.5rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.oculto{
    display: none;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.formulario form{
    background-color: var(--fondocard);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 

    
}
.formulario label{
    font-family: monospace;
    font-size: 1rem;
    margin: 0.5rem;
    color: var(--textcolor);
}
.formulario input{
    border-radius: 20px;
    border: none;
    margin-bottom: 1rem;
    background-color: #8e8e8f;
    padding: 0.3rem;
}
.seleccion{
    background-color: var(--fondo);
    color: var(--textcolor);
    border-radius: 20px;
    padding: 0.9rem;
    font-family: monospace;
    font-size: 0.8rem;
    margin: 1rem;
}
.seleccion option{
    background-color: var(--fondocard);
    border: none;
    
}